*{
    margin: 0;
    padding: o;
}
body{
    font-family: "Underdog", system-ui;
}
.navbar{
    background-color: #FD6569;
    padding: 10px;
}

.container{
    padding: 10px;
  

}

.book-container{
    padding: 50px;
    width: 35%;
    background-color: black;
    border-radius: 10px;
    color: white;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}
.book-container h2{
    color: #FD6569;
    border-bottom:white solid 2px;
}
.book-container button{
    background-color: #FD6569;
    color: black;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
    margin-top: 10px;
}
.add-button{
    background-color: #FD6569;
    color: black;
    border-radius: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 40px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    
}

.popup-overlay{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}

.popup-box{
    background-color: #FD6569;
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none;
    

}

.popup-box input{
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
}

.popup-box textarea{
    background-color: transparent;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: solid black 2px;
}

.popup-box input::placeholder{
    color: black;
   
}
.popup-box textarea::placeholder{
    color: black;
   
}

.popup-box button{
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    color: white;
    margin: 5px;
}
.popup-box input:focus{
    outline: none;
}
.popup-box textarea:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
    background-color: green;
    font-size: 20px;
}

#add-book{
    border-radius: 5px;
}

#cancel-popup-button{
    border-radius: 5px;
}

.add-button:hover{
font-size: 40px;
background-color: rgb(102, 0, 255);
}
#cancel-popup-button:hover{
    background-color: red;
}
